<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Devices Table</h4>
                <h6 class="card-subtitle">
                    <div class="preview"> <i class="fa fa-info-circle"></i> Here you find all the routers and switchs of
                        the backbone IP MPLS </div>
                </h6>
                <div class="table-responsive">
                    <table class="table table-generic">
                        <thead>
                            <tr>
                                <th class="table-th">Device Name</th>
                                <th class="table-th">IP System</th>
                                <th class="table-th">RD</th>
                                <th class="table-th">Vendor</th>
                                <th class="text-center table-th">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="devices && devices.length !== 0">
                                <tr *ngFor="let device of devices">
                                    <td class="table-td-hover pointer">
                                        {{device.hostname}} {{device.id}}</td>
                                    <td>{{device.ipSystem}}</td>
                                    <td>{{device.rd}}</td>
                                    <td>{{device.vendor}}</td>
                                    <td class="td-action-border text-center align-middle">
                                        <i class="icon-pencil round-icon m-r-5 pointer round-icon-hover"
                                            (click)="onClick('EDIT', device)"></i>
                                        <i class="icon-trash round-icon m-r-5 pointer round-icon-hover"
                                            (click)="onClick('DELETE', device)"></i>
                                        <i class="icon-share-alt round-icon m-r-5 pointer round-icon-hover"
                                            (click)="onClick('EXPORT', device)"></i>
                                        <i class="icon-options-vertical p-7-5 pointer round-icon-hover"></i>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container>
                                <tr *ngIf="!devices || devices.length === 0">
                                    <td colspan="5">No Data</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-center m-t-15">
                    <ngb-pagination [collectionSize]="pages*10" [(page)]="page" [maxSize]="3" [boundaryLinks]="true"
                        (pageChange)="onPageChange($event)">
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>