<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-5">
        <h3>Role Management</h3>
      </div>
      <div class="col-sm-7">
        <a href="#" class="btn btn-primary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="roles && roles.length !== 0">
        <tr *ngFor="let role of roles">
          <td>{{ role.id }}</td>
          <td>{{ role.name }}</td>
          <td>{{ role.description }}</td>
          <td>
            <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
                class="material-icons pointer">&#xE8B8;</i></a>
            <a class="delete" title="Delete" data-toggle="tooltip" (click)="onClick('DELETE', role)"><i
                class="material-icons pointer">&#xE5C9;</i></a>
          </td>
        </tr>
      </ng-container>
      <ng-container>
        <tr *ngIf="!roles || roles.length === 0">
          <td colspan="3">No Data</td>
        </tr>
      </ng-container>

    </tbody>
  </table>

</div>